.drag {
  cursor: pointer;
  padding: 10px;
  width: 200px;
  height: 100px;
  background-color: gray;
}

div.dragging {
  background-color: red;
}

.moving:not(.dragging) {
  transition: transform 300ms ease-in-out;
}
